body {
    margin: 0;
    background-color: #0d1b2a;
    font-family: sans-serif;
    color: white;
  }

.menu-btn {
  padding: 0 18% 5% 18%;
  font-size: 24px;              
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;           
  transition: background-color 0.2s;
}

.side-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1b263b;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
}

.side-menu a {
  padding: 10px 20px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  transition: 0.2s;
  
}

.side-menu a.close-btn {
  padding: 0; 
  width: 40px; 
  height: 40px;
  display: flex; 
  align-items: center;
  justify-content: center;
  font-size: 40px; 
  position: absolute;
  top: 12px;
  left: 21px;
  background-color: transparent; 
  transition: background-color 0.2s;
  border-radius: 50%;
}

.menu-col {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.home-col {
  display: flex;
  justify-content: center; 
  align-items: center;     
}

.title-home {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.menu-btn:hover {
  background-color: #415a77;
}

.side-menu a:hover {
  background-color: #415a77;
}

.close-btn {
position: absolute;
top: 6px;
left: 12px;
font-size: 30px;
padding: 3%;
}


.banner{
  grid-column: 1 / span 4;
    grid-row: 2 / span 2;
    background-image: url('img/banner2.jpg');
    background-size: cover;
    background-position: center;
    min-height: 250px;
    padding: 32px;
}

.parent{
  grid-column: 1 / span 4;
}

.title {
  display: grid;
  grid-template-columns: 60px 1fr; 
  align-items: center;
  background-color: #0b1c2c;
  padding: 10px 20px;
  color: white;
}

.menu-col {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.home-col {
  display: flex;
  justify-content: center; 
  align-items: center;    
}

.title-home {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

